<div class="quizcreator">
  <!-- Info -->
  <div class="info-container">
    <div class="">
      <h1>A lot of convenient Info</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolore iure dolorem, culpa, eveniet sit, dolores asperiores inventore ad suscipit similique. Maxime ipsum officiis nam eveniet doloribus earum, voluptas illum?</p>
      <p>Odit, accusantium eius provident obcaecati aspernatur ratione optio cumque, facere ex voluptates hic nisi placeat nihil quidem. Assumenda iste maxime natus officia rem beatae sed! Veniam error quisquam eligendi quae!</p>
      <p>Atque enim cumque commodi architecto assumenda recusandae saepe vel totam necessitatibus iusto porro voluptatum, cupiditate, vero blanditiis accusamus sint quos, autem consequuntur eveniet laudantium quis aut laboriosam molestiae obcaecati. Consequatur?</p>
      <p>Impedit inventore eaque, quasi quae consequatur vitae sint perferendis numquam debitis id, soluta dolorum dolorem. Est voluptate quasi architecto! Error quis earum recusandae eaque quasi rem reiciendis, soluta mollitia excepturi!</p>
      <p>Blanditiis voluptate, excepturi quia eligendi debitis animi similique? Aspernatur, minima eius, incidunt officiis nisi provident expedita quis enim temporibus aut eaque, natus excepturi beatae rem nostrum. Eos repudiandae doloribus quos?</p>
      <p>Facilis, perferendis hic? Dolorem, porro. Eligendi nobis deserunt ea aliquam tempora dolorem eaque itaque veniam magni quibusdam? Natus, aliquid neque, eius itaque nobis nihil tempore ipsam blanditiis alias temporibus quaerat.</p>
      <p>Id, at tenetur? Distinctio quia repellendus similique incidunt numquam itaque. Atque magnam cupiditate temporibus maxime repudiandae qui cumque earum, quae eum deleniti accusamus explicabo hic veritatis commodi ducimus quibusdam odio?</p>
      <p>Voluptate, aut. Iure qui autem exercitationem tenetur velit, magni ea eius officiis. Unde ab quia quo, rem illum aspernatur perspiciatis assumenda ipsam, quae quaerat sapiente temporibus vero, architecto recusandae accusamus.</p>
      <p>Molestiae esse illum accusamus consectetur alias sed, harum architecto perferendis veniam aliquid excepturi necessitatibus optio libero explicabo inventore eligendi repellendus porro ducimus, voluptas quaerat tenetur eum quasi? Quis, modi reprehenderit.</p>
      <p>Ipsam, iste? Asperiores voluptate qui aut dicta eos cupiditate eum mollitia earum sed id tenetur neque libero quas accusamus ipsum ipsam possimus deleniti perspiciatis doloribus, cumque nihil? Amet, eos quisquam.</p>
    </div>
  </div>

  <!-- Creados y crear -->
  <div class="created-container">
    <div class="created-quizzes">
      <div *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]" class="">titulo del quizz</div>
    </div>
    <div class="create-quizz">
      <button class="create-quizz-button">Crear quizz</button>
    </div>
  </div>
</div>
