<div class="quizcreator">
  <!-- Info -->
  <div class="info-container">
    <div class="">
      <h1>A lot of convenient Info</h1>
      <app-quiz-input [ingresarDatos]="'Rafael'"></app-quiz-input>
      <app-quiz-output (indicarValor)="onClickReceiveValue($event)"></app-quiz-output>
      <button (click)="onClickEmitValue()">Emitir</button>
      <app-quiz-form></app-quiz-form>
      <app-quiz-twoway></app-quiz-twoway>
    </div>
  </div>

  <!-- Creados y crear -->
  <div class="created-container">
    <div class="created-quizzes">
      <div *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]" class="">titulo del quizz</div>
    </div>
    <div class="create-quizz">
      <button class="create-quizz-button">Crear quizz</button>
    </div>
  </div>
</div>
